* {
  border: none;
  border-radius: 0;
  font-size: 18px;
  font-family: "EnvyCodeR Nerd Font";
  margin: 0px;
  color: #f7f7f7;
}

window#waybar {
  background: #292828;
}

#workspaces button {
  padding: 2px 8px;
}
#workspaces button.focused {
  background-color: #165f96;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
